---
layout: page
---

	<!-- CONTENT -->
  	<div class="container-fluid content">
		<div class="row">
    		<div class="col-md-4 main">
          <!--
        		<h2>{{ page.title }}</h2>
            <h4><i>{{ page.artist }}</i>, {{ page.year }}</h4>
            <h3>{{ page.city }}</h4>
            <p>{{ page.address }}</p>
-->
        		{{ content }}
      		</div>

    		<div class="col-md-8 mainimage" style="background-image: url({{ "/images/" | prepend: site.baseurl }}{{ page.image}})" >
       
      		</div>      
		</div> <!-- end row -->
	</div> <!-- end container -->